body {
    display:inline-block;
    font-family:cursive;
    font-size:15px;
}
#test {
    height:100px;
    width:100px;
}
#name {
    float:left;
    font-weight:bold;
    color:#FF9966;
}
#email {
    float:right;
}
#email a {
    text-decoration:none;
    color:#FF9966;    
}
.right a {
    text-decoration:none;
    color: black;
}
a:hover{
    color:#CC3333;
    font-weight:bold;
}
#header {
    z-index:1;
    position:fixed;
    border:2px solid black;
    border-radius:8px;
    height:30px;
    width:780px;
    background-color: #6666FF;
    padding-top:20px;
    padding-left:10px;
    padding-right:10px;
    margin:-10px 10px 10px 0px;
    clear:both;
}
#footer {
    position:relative;
    border:2px solid black;
    border-radius:8px;
    height:30px;
    width:780px;
    background-color: #6666FF;
    padding:0px 10px 20px 10px;
    margin:5px 10px 10px 0px;
    clear:both;
}
#address {
    position:relative;
    margin-left:250px;
}
#address p{
    font-weight:bold;
    color:#FF9966;  
}
.left {
    position:relative;
    float:left;
    border:2px solid black;
    border-radius:8px;
    height:400px;
    width:60px;
    background-color: #CC3333;
    margin-top:50px;
    clear:both;
}
.right {
    position:relative;
    float:right;
    border:2px solid black;
    border-radius:8px;
    height:360px;
    width:700px;
    background-color: #FF9966;
    margin-top:50px;
    padding:20px;
}
